:root {
    --box-hover-color: rgba(169, 169, 169, 0.555);
    --main-font: 'Times New Roman', sans-serif, serif;
    --primary-border-radius: 10%;
    --font-size: large;
}
body 
{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "profile"
        "footer";
    grid-template-rows: auto 1fr auto auto;
    font-family: var(--main-font);
    background-color: white;
    color: black;
    font-size: 15px;
    margin: 0;
}
header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 5px;
}
#main_heading {
    text-transform: uppercase;
    font-size: 30pt;
    color: azure;
    text-align: center;
}
#main_section {
    
    grid-area: main;
    margin: 20px 200px;
    padding: 20px 50px;
    border-radius: var(--primary-border-radius);
    background-color: rgb(235, 217, 217);
    font-size: var(--font-size);
    line-height: 1.5;
}
#my_profile {
    padding: 20px 50px;
    grid-area: profile;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    margin: 20px 200px;
    padding: 15px;
    border-radius: var(--primary-border-radius);
    text-align: center;
}
#profile_heading {
    text-transform: uppercase;
    text-align: center;
}
#me {
    border-radius: 90%;
    border: 10px solid black;
    height: 100px;
    width: 150px;
}
#my_bio {
    font-size: 16px;
    margin-top: 10px;
}
footer {
    grid-area: footer;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    background-color: coral;
    text-align: center;
}
a {
    padding: 5px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
a:hover {
    color: rgb(17, 123, 228);
}
#qau {
    text-decoration: none;
    font-size: 15px;
}
#box1:hover, #box2:hover {
    background-color: var(--box-hover-color);
}
#logo {
    width: 120px;
    height: 90px;
    padding: 10px;
    border-radius: 45%;
}
#web_dev {
   display :flex; 
}
/* For Mobile*/
@media (max-width: 600px) and (min-width: 320px) 
{
    body {
        grid-template-areas:
            "header"
            "main"
            "profile"
            "footer";
        font-size: 14px;
    }
    #main_heading {
        font-size: 18pt;
         }
    #main_section,
    #my_profile {
        margin: 10px;
    }
    #me {
        width: 100px;
        height: 100px;
    }
    #logo {
    width: 80px;
    height: 60px;
    padding: 10px;
    border-radius: 55%;
}
    #web_dev {
        width: 90%;
        float: none;
        margin: 10px auto;
    }
}
/*for Tablet*/
@media (min-width: 601px) and (max-width: 1023px) {
    body {
        font-size: 15px;
        grid-template-areas:
            "header"
            "main"
            "profile"
            "footer";
    }
    #main_section,
    #my_profile {
        margin: 30px;
    }
    #main_heading {
        font-size: 26pt;
         }
    #me {
        width: 120px;
        height: 120px;
    }
        #logo {
    width: 110px;
    height: 100px;
    padding: 10px;
    border-radius: 65%;
}
   #web_dev {
        margin-right: auto;
        margin-left:auto;
        display:flex;

    }
}
/*for laptop*/
@media (min-width: 1024px) {
    body {
        font-size: 16px;
        grid-template-areas:
            "header"
            "main"
            "profile"
            "footer";
    }
    #main_section,
    #my_profile {
        margin-left:auto;
        margin-right: auto;
    }
    #main_heading {
        font-size: 35pt;
        }
    #me {
        width: 150px;
        height: 150px;
    }
    #logo {
        width: 160px;
        height: 130px;
        padding: 10px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    #web_dev {
        
        display:flex;
        margin-right: auto;
        margin-left:auto;
    }
} 
