:root{
--box-hover-color: rgba(169, 169, 169, 0.555);
--main-font:'Times New Roman,'sans-serif, serif;
--primary-border-radius:10%;
--primary-margin: 200px;
}

body {
    font-family:var(--main-font);
    background-color: white;
    color: black;
    font-size: 15px;
}

header{
    display:flex;
    background-color:black;
    padding:5px;
}


#main_heading
{
    text-transform: uppercase;
    text-align:center;
    margin-left: auto;
    margin-right: auto;    
    font-size:30pt;
    color:azure;
}

#main_section{
    width:auto;
    margin-left: var(--primary-margin);
    margin-right: var(--primary-margin);
    padding:10px;
    border: 15px,hidden;
    border-radius:var(--primary-border-radius);
    background-color:rgb(235, 217, 217);
    font-size: large;
    line-height: 1.5;
}

#me{
border-radius: 90%;
border:10px,solid,black;
height:100px;
width: 150px;
}

#my_profile{
    text-align:center;
    margin-left:var(--primary-margin);
    margin-right: var(--primary-margin);
    background-color:beige;
    border-radius: var(--primary-border-radius);
}

#profile_heading{
    text-transform: uppercase;
}

#my_bio{
    text-align:center;
    font-size: 16px;
}

#logo{
    width: 120x;
    height: 90px;
    padding: 10px;
    border-radius:45%;
}

#web_dev{
width: 30%;
height:25%;    
float:right;
margin-right: 175px;
}

#profile_heading{
    text-align: center;
}

a{
    padding: 5px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    color:rgb(17, 123, 228);    
} 

#qau{
    text-decoration: none;
    font-size: 15px;
    padding: none;
}

#box1:hover{
  background-color:var(--box-hover-color);
}

#box2:hover{
    background-color:var(--box-hover-color);
}

  footer {
    text-transform: uppercase;
    font-weight: bold;
    padding:20px;
    background-color:coral;
    text-align:center
}