:root{

}

body {
    font-family: 'Times New Roman,'sans-serif, serif;
    background-color: white;
    color: black;
    font-size: 15px;
}

#me{
border-radius: 90%;
border:10px,solid,black;
height:100px;
width: 150px;
}

#my_profile{
    text-align:center;
    margin-left:200px;
    margin-right: 200px;
    background-color:beige;
}

#profile_heading{
    text-transform: uppercase;
}

#my_bio{
    text-align:center;
    font-size: 16px;

}

header{
    display:flex;
    background-color:black;
    padding:5px;
}

#logo{
    width: 120x;
    height: 90px;
    padding: 10px;
    background-color:aquamarine;
    border-radius:45%;
}

#web_dev{
width: 25%;
height:25%;    
float:right;
margin-right: 175px;

}

#main_section{
    width:auto;
    margin-left: 200px;
    margin-right: 200px;
    padding:10px;
    border: 15px,hidden;
    border-radius:5%;
    background-color:rgb(235, 217, 217);
    font-size: large;
}

#profile_heading{
    text-align: center;
}

#main_heading
{
    text-transform: uppercase;
    text-align:center;
    margin-left: 700px;
    margin-right: auto;    
    font-size:30pt;
    color:azure;
}
 a{
    padding: 5px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
#qau{
    text-decoration: none;
    font-size: 15px;
    padding: none;
}

a:hover {
    color:rgb(17, 123, 228);    
} 

footer {
    text-transform: uppercase;
    padding:20px;
    background-color:coral;
    text-align:center
}
#box1:hover{
  background-color: rgba(169, 169, 169, 0.555);
}
#box2:hover{
    background-color:rgba(169, 169, 169, 0.555);
  }
